.assign-3-shape-1{
    width: 400px;
    height: 400px;
    background-image: url('css-assignment-5-8.png');
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-color: #ddd;
  
}
.assign-3-shape-2{

    width: 400px;
    height: 400px;
    background-image: url('css-assignment-5-8.png');
    background-repeat: repeat-y;
    background-size: 80% 80%;
    background-position: right top;
    background-color: #ddd;
}
.assign-3-shape-3{

    width: 400px;
    height: 400px;
    background-image: url('css-assignment-5-8.png');
    background-repeat: repeat-x;
    background-size: 80% 80%;
    background-position: right bottom;
    background-color: #ddd;
}
.assign-3-shape-4{

    width: 400px;
    height: 400px;
    background-image: url('css-assignment-5-8.png');
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #ddd;
}